absl-py==0.6.1
afinn==0.1
astor==0.7.1
atomicwrites==1.2.1
attrs==18.2.0
backcall==0.1.0
beautifulsoup4==4.6.0
boto==2.49.0
boto3==1.9.57
botocore==1.12.57
bz2file==0.98
certifi==2018.11.29
chardet==3.0.4
colorama==0.4.1
cycler==0.10.0
cymem==1.31.2
Cython==0.29.1
cytoolz==0.9.0.1
decorator==4.3.0
dill==0.2.8.2
Django==2.0.5
docutils==0.14
funcy==1.11
future==0.17.1
gast==0.2.0
gensim==3.5.0
grpcio==1.16.1
h5py==2.8.0
idna==2.6
ipython==6.4.0
ipython-genutils==0.2.0
jedi==0.13.1
Jinja2==2.10
jmespath==0.9.3
joblib==0.13.0
Keras==2.2.4
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
kiwisolver==1.0.1
Markdown==3.0.1
MarkupSafe==1.1.0
matplotlib==2.2.2
more-itertools==4.3.0
msgpack==0.6.0
msgpack-numpy==0.4.4.2
murmurhash==0.28.0
nltk==3.3
numexpr==2.6.8
numpy==1.14.3
pandas==0.23.0
parso==0.3.1
pickleshare==0.7.5
plac==0.9.6
pluggy==0.8.0
preshed==1.0.1
prompt-toolkit==1.0.15
protobuf==3.6.1
py==1.7.0
Pygments==2.3.0
pyLDAvis==2.1.2
pyparsing==2.3.0
pyreadline==2.1
pytest==4.0.1
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
regex==2017.4.5
requests==2.18.4
s3transfer==0.1.13
scikit-learn==0.19.2
scipy==1.1.0
simplegeneric==0.8.1
six==1.11.0
smart-open==1.7.1
spacy==2.0.12
tensorboard==1.11.0
tensorflow==1.11.0
termcolor==1.1.0
thinc==6.10.3
toolz==0.9.0
tqdm==4.28.1
traitlets==4.3.2
ujson==1.35
urllib3==1.22
wcwidth==0.1.7
Werkzeug==0.14.1
wrapt==1.10.11
